<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Accueil"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الْنُّونِ</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">


<ion-slide>
  <img src="./assets/img/337.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/338.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/339.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/340.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/341.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/342.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/343.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/344.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/345.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/346.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/347.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/348.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/349.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/350.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/351.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/352.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/353.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/354.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/355.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/356.jpg" alt="">
</ion-slide>

</ion-slides>

</ion-content>


