<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Retour"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الْنُّونِ</h1></ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/sad">suivant</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">


<ion-slide>
  <img src="./assets/img/337.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/338.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/339.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/340.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/341.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/342.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/343.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/344.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/345.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/346.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/347.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/348.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/349.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/350.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/351.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/352.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/353.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/354.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/355.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/356.jpeg" alt="">
</ion-slide>

</ion-slides>

</ion-content>


