<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Accueil"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>Firi Tèrè Ibnoul Mouhaibe <br>Serigne Djiby Seck</h1></ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="video-container">
    <ion-title><h1>LEÇON 01</h1></ion-title>
    <iframe width="674" height="379" src="https://www.youtube.com/embed/fciCUZMQS0o" title="LEÇON N1 FIRI IBNOU MOUHAYEB AK OUSTAZ SERIGNE DJIBY SECK MAODO" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>  
    <br>
    <ion-title><h1>LEÇON 02</h1></ion-title>
    <iframe width="674" height="379" src="https://www.youtube.com/embed/Xjo8b7XDIac" title="LECON NUMERO 2 FIRI TERE IBNOUL MOUHAYEB PAR SERIGNE DJIBY SECK MAODO" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <br>
    <ion-title><h1>LEÇON 03</h1></ion-title>
    <iframe width="674" height="379" src="https://www.youtube.com/embed/vwwzc3vyFQ0" title="LECON N3 FIRI TEERE IBNOUL MOUHAYEB PAR SERIGNE DJIBY SECK MAODO" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <br>
    <ion-title><h1>LEÇON 04</h1></ion-title>
    <iframe width="674" height="379" src="https://www.youtube.com/embed/44M1v48CLk8" title="LEÇON N4 FIRI TEERE IBNOUL MOUHAYEB AK SERIGNE DJIBY SECK S.MAODO" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <br>
    <ion-title><h1>LEÇON 05</h1></ion-title>
    <iframe width="674" height="379" src="https://www.youtube.com/embed/WvNL6Md7W6I" title="LEÇON N5 FIRI TEERE IBNOUL MUAHAYEB AK SERIGNE DJIBY SECK MAODO" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <br>
    <ion-title><h1>LEÇON 06</h1></ion-title>
    <iframe width="674" height="379" src="https://www.youtube.com/embed/qlaS64jffoU" title="LEÇON N6 FIRI TEERE IBNOUL MOUHEYEB AK SERIGNE DJIBY SECK MAODO" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <br>
    <ion-title><h1>LEÇON 07</h1></ion-title>
    <iframe width="674" height="379" src="https://www.youtube.com/embed/XRBBhro1_w4" title="LEÇON N7 FIRI TEERE IBNOUL MOUHAYEB AK SERIGNE DJIBY SECK MOU SERIGNE MAODO SECK" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <br>
    <ion-title><h1>LEÇON 08</h1></ion-title>
    <iframe width="674" height="379" src="https://www.youtube.com/embed/j00If8ntrQM" title="LEÇON #8 FIRI TEERE IBNOUL MOUHAYEB AK SERIGNE DJIBY SECK MOU S MAODO" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <br>
    <ion-title><h1>LEÇON 09</h1></ion-title>
    <iframe width="674" height="379" src="https://www.youtube.com/embed/ckFX63rPmlU" title="Leçon N9 Firi Tèrè Ibnoul Mouhayeb Ak Serigne Djiby Seck Mou Serigne Maodo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  </ion-content>
