<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Accueil"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الْطَّاءِ</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">

<ion-slide>
  <img src="./assets/img/234.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/235.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/236.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/237.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/238.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/239.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/240.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/241.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/242.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/243.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/244.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/245.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/246.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/247.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/248.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/249.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/250.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/251.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/252.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/253.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/254.jpg" alt="">
</ion-slide>


</ion-slides>

</ion-content>


