<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Retour"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الْطَّاءِ</h1></ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/zha">suivant</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content> 
<img src="" alt="">

<ion-slides pager="true">

<ion-slide>
  <img src="./assets/img/234.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/235.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/236.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/237.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/238.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/239.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/240.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/241.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/242.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/243.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/244.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/245.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/246.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/247.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/248.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/249.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/250.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/251.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/252.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/253.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/254.jpeg" alt="">
</ion-slide>


</ion-slides>

</ion-content>


