<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Retour"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الْضَّادِ</h1></ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/hayn">suivant</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">


<ion-slide>
  <img src="./assets/img/377.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/378.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/379.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/380.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/381.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/382.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/383.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/384.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/385.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/386.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/387.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/388.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/389.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/390.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/391.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/392.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/393.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/394.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/395.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/396.jpeg" alt="">
</ion-slide>

</ion-slides>

</ion-content>


