<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Accueil"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الْضَّادِ</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">


<ion-slide>
  <img src="./assets/img/377.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/378.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/379.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/380.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/381.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/382.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/383.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/384.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/385.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/386.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/387.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/388.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/389.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/390.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/391.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/392.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/393.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/394.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/395.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/396.jpg" alt="">
</ion-slide>

</ion-slides>

</ion-content>


