<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Retour"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <h1>حَرْفُ الْتَاءِ</h1>
    </ion-title>
    

    <ion-buttons slot="end">
      <ion-button routerLink="/tha">suivant</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="" alt="">

  <ion-slides pager="true">

    <ion-slide>
      <img src="./assets/img/41.jpeg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="./assets/img/42.jpeg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="./assets/img/43.jpeg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="./assets/img/44.jpeg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="./assets/img/45.jpeg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="./assets/img/46.jpeg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="./assets/img/47.jpeg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="./assets/img/48.jpeg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="./assets/img/49.jpeg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="./assets/img/50.jpeg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="./assets/img/51.jpeg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="./assets/img/52.jpeg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="./assets/img/53.jpeg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="./assets/img/54.jpeg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="./assets/img/55.jpeg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="./assets/img/56.jpeg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="./assets/img/57.jpeg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="./assets/img/60.jpeg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="./assets/img/61.jpeg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="./assets/img/62.jpeg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="./assets/img/63.jpeg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="./assets/img/64.jpeg" alt="">
    </ion-slide>

  </ion-slides>

</ion-content>