<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Accueil"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الْتَاءِ</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">

<ion-slide>
  <img src="./assets/img/41.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/42.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/43.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/44.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/45.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/46.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/47.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/48.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/49.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/50.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/51.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/52.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/53.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/54.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/55.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/56.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/57.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/60.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/61.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/62.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/63.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/64.jpg" alt="">
</ion-slide>

</ion-slides>

</ion-content>


