<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Accueil"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الْحَاءِ</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">

<ion-slide>
  <img src="./assets/img/106.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/107.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/108.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/109.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/110.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/111.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/112.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/113.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/114.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/115.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/116.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/117.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/118.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/119.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/120.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/121.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/122.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/123.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/124.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/125.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/126.jpg" alt="">
</ion-slide>
</ion-slides>

</ion-content>


