<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Retour"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الْحَاءِ</h1></ion-title>
  
  
  <ion-buttons slot="end">
    <ion-button routerLink="/hah">suivant</ion-button> 
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">

<ion-slide>
  <img src="./assets/img/106.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/107.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/108.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/109.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/110.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/111.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/112.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/113.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/114.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/115.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/116.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/117.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/118.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/119.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/120.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/121.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/122.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/123.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/124.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/125.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/126.jpeg" alt="">
</ion-slide>
</ion-slides>

</ion-content>


