<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Retour"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الْكَافِ</h1></ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/lam">suivant</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">


<ion-slide>
  <img src="./assets/img/277.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/278.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/279.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/280.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/281.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/282.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/283.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/284.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/285.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/286.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/287.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/288.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/289.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/290.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/291.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/292.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/293.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/294.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/295.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/296.jpeg" alt="">
</ion-slide>

</ion-slides>

</ion-content>


