<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Accueil"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الْكَافِ</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">


<ion-slide>
  <img src="./assets/img/277.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/278.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/279.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/280.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/281.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/282.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/283.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/284.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/285.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/286.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/287.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/288.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/289.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/290.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/291.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/292.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/293.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/294.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/295.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/296.jpg" alt="">
</ion-slide>

</ion-slides>

</ion-content>


