<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Accueil"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الْرَّاءِ</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">

<ion-slide>
  <img src="./assets/img/192.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/193.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/194.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/195.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/196.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/197.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/198.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/199.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/200.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/201.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/202.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/203.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/204.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/205.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/206.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/207.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/208.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/209.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/210.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/211.jpg" alt="">
</ion-slide>

</ion-slides>

</ion-content>


