<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Retour"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <h1>حَرْفُ الْرَّاءِ</h1>
    </ion-title>
    

    <ion-buttons slot="end">
      <ion-button routerLink="/za">suivant</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="" alt="">

  <ion-slides pager="true">

    <ion-slide>
      <img src="./assets/img/192.jpeg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="./assets/img/193.jpeg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="./assets/img/194.jpeg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="./assets/img/195.jpeg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="./assets/img/196.jpeg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="./assets/img/197.jpeg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="./assets/img/198.jpeg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="./assets/img/199.jpeg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="./assets/img/200.jpeg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="./assets/img/201.jpeg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="./assets/img/202.jpeg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="./assets/img/203.jpeg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="./assets/img/204.jpeg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="./assets/img/205.jpeg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="./assets/img/206.jpeg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="./assets/img/207.jpeg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="./assets/img/208.jpeg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="./assets/img/209.jpeg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="./assets/img/210.jpeg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="./assets/img/211.jpeg" alt="">
    </ion-slide>

  </ion-slides>

</ion-content>