<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Accueil"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الْصَّادِ</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">


<ion-slide>
  <img src="./assets/img/357.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/358.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/359.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/360.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/361.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/362.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/363.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/364.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/365.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/366.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/367.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/368.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/369.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/370.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/371.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/372.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/373.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/374.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/375.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/376.jpg" alt="">
</ion-slide>

</ion-slides>

</ion-content>


