<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Retour"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الْصَّادِ</h1></ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/dad">suivant</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">


<ion-slide>
  <img src="./assets/img/357.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/358.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/359.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/360.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/361.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/362.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/363.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/364.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/365.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/366.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/367.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/368.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/369.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/370.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/371.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/372.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/373.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/374.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/375.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/376.jpeg" alt="">
</ion-slide>

</ion-slides>

</ion-content>


