<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Accueil"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الْخَاءِ</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">

<ion-slide>
  <img src="./assets/img/127.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/128.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/129.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/130.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/131.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/132.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/133.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/134.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/135.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/136.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/137.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/138.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/139.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/140.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/141.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/142.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/143.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/144.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/145.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/146.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/147.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/148.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/149.jpg" alt="">
</ion-slide>
</ion-slides>

</ion-content>


