<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Retour"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الْخَاءِ</h1></ion-title>
  
  
  <ion-buttons slot="end">
    <ion-button routerLink="/dal">suivant</ion-button> 
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">

<ion-slide>
  <img src="./assets/img/127.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/128.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/129.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/130.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/131.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/132.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/133.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/134.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/135.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/136.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/137.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/138.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/139.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/140.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/141.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/142.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/143.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/144.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/145.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/146.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/147.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/148.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/149.jpeg" alt="">
</ion-slide>
</ion-slides>

</ion-content>


