<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button routerLink="/ibnoul">Accueil</ion-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الْيَاءِ</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">


<ion-slide>
  <img src="./assets/img/577.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/578.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/579.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/580.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/581.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/582.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/583.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/584.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/585.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/586.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/587.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/588.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/589.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/590.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/591.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/592.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/593.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/594.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/595.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/596.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/597.jpeg" alt="">
</ion-slide>

</ion-slides>

</ion-content>


