<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Accueil"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الْيَاءِ</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">


<ion-slide>
  <img src="./assets/img/577.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/578.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/579.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/580.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/581.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/582.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/583.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/584.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/585.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/586.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/587.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/588.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/589.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/590.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/591.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/592.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/593.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/594.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/595.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/596.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/597.jpg" alt="">
</ion-slide>

</ion-slides>

</ion-content>


