<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Accueil"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الْذَّالِ</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">

<ion-slide>
  <img src="./assets/img/171.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/172.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/173.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/174.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/175.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/176.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/177.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/178.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/179.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/180.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/181.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/182.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/183.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/184.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/185.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/186.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/187.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/188.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/189.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/190.jpg" alt="">
</ion-slide>

</ion-slides>

</ion-content>


