<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Retour"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الْذَّالِ</h1></ion-title>
 
  
  <ion-buttons slot="end">
    <ion-button routerLink="/ra">suivant</ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">

<ion-slide>
  <img src="./assets/img/171.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/172.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/173.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/174.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/175.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/176.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/177.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/178.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/179.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/180.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/181.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/182.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/183.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/184.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/185.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/186.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/187.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/188.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/189.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/190.jpeg" alt="">
</ion-slide>

</ion-slides>

</ion-content>


