<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Retour"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الْدَّالِ</h1></ion-title>
  
  
  <ion-buttons slot="end">
    <ion-button routerLink="/jhal">suivant</ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">

<ion-slide>
  <img src="./assets/img/150.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/151.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/152.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/153.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/154.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/155.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/156.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/157.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/158.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/159.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/160.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/161.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/162.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/163.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/164.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/165.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/166.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/167.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/168.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/169.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/170.jpeg" alt="">
</ion-slide>

</ion-slides>

</ion-content>


