<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Accueil"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الْدَّالِ</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">

<ion-slide>
  <img src="./assets/img/150.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/151.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/152.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/153.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/154.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/155.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/156.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/157.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/158.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/159.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/160.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/161.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/162.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/163.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/164.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/165.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/166.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/167.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/168.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/169.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/170.jpg" alt="">
</ion-slide>

</ion-slides>

</ion-content>


