<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Retour"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الْجِيمِ</h1></ion-title>
  
  
  <ion-buttons slot="end">
    <ion-button routerLink="/ha">suivant</ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">

<ion-slide>
  <img src="./assets/img/85.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/86.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/87.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/88.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/89.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/90.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/91.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/92.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/93.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/94.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/95.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/96.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/97.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/98.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/99.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/100.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/101.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/102.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/103.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/104.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/105.jpeg" alt="">
</ion-slide>

</ion-slides>

</ion-content>


