<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Accueil"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الْجِيمِ</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">

<ion-slide>
  <img src="./assets/img/85.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/86.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/87.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/88.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/89.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/90.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/91.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/92.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/93.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/94.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/95.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/96.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/97.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/98.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/99.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/100.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/101.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/102.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/103.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/104.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/105.jpg" alt="">
</ion-slide>

</ion-slides>

</ion-content>


