<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>THIENABA SECK</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Boutons pour changer de langue -->
  <div class="button-group">
    <ion-button expand="block" (click)="showArabicText()">Arabe</ion-button>
    <ion-button expand="block" (click)="showTranscriptionText()">Transcription</ion-button>
    <ion-button expand="block" (click)="showFrenchText()">Traduction</ion-button>
  </div>

  <!-- Texte en Arabe -->
  <div *ngIf="showArabic" class="text-arabic">
    <p class="tex">
      دعاء الوظيفة جنب<br>
      هذه هدية بفضل الله منا إليك يا رسول الله،<br>
      جزي الله عنا نبينا وشفيعنا و سيدنا ومولانا محمدا (ص) 
      نيابة عن البرزخ المكتوم، تاج العارفين،
      ممد كل أولياء الرحمان، أبي العباس أحمد بن محمد السالم التيجاني رضي الله تعالي عنه،
      جزي الله عنا شيخنا وسيدنا الشيخ المجاهد أحمدنا نجل المساعد
      وخلفائه ومقدمه رضوان الله تعالي عليهم أجمعين<br><br>

      يــا الله يـا حـي يا قــــــــــيـوم يــا الله<br>
      يا جـــاعـل الرشد بالتوفيق يا لله<br><br>

      يَا للهُ فَاجْزِ بِأَعْلَى مَا جَزَيْــــــــــتَ بِهِ<br>
      عَــنَّـــا الــشَّـفِــيعَ لَنَا يَا اللهُ يَا اللهُ<br><br>

      وَجَازِيَنْ شَيْخْنَا عَنَّا بِأَفْضـــَلِ مَــــــــا<br>
      جَـــازَيْتَ شَيْــخًا بِــهِ يَا اللهُ يَا اللهُ<br><br>

      شَيْخَ الشُّــــيُــوخِ أبَا الْعَبَّاسِ أَحْمَدَنَـــا<br>
      قُــطْبَ الدَّوَاوِينَ لِلْأْقْطَاب يـــا الله<br><br>

      وَشَيْخَنَا الْعَارِفَ الْمَعْرُوفَ حَافِظَنــــَا<br>
      وَشَـــــيْـــخَ مَــوْلُـودِنَا يَا اللهُ يَـا اللهُ<br><br>

      وَشَيْخَنَا الْمُصْطَفَي الْمُخْتَارَ مِنْ كُرَمَاءَ<br>
      عَـــبْدَ اَلْكَرِيـمِ كَرِيـمَ الـنَّـدْبِ يَــا اللهُ<br><br>

      وَغَوْثَنــَا فَـــائِــضَ الْأْنْوَارِ مَــنْهَــلَنـــَا<br>
      مَــهْدِيَّنَا الصَّـادِقَ الْمَصْدُوقَ يَــا اللهُ<br><br>

      نِعْمَ الشَّرِيفُ الذِي مِنْ نَجْلِ فَاطِــمَــــةٍ<br>
      وَحَـيْـــدَر ضَــرْغَـــمِ الْأْبْطَالِ يَا اللهُ<br><br>

      وَنَجْلَهُ أَحْمَدَ الْمُخْتَارَ حَامِلَ رَ<br>
      يَة الْبَسَالَةِ وَالْإِسْلاَمِ يَا اللهُ<br><br>

      وَشَيْـخَنَــا سَيِّـــدِ السَّــــادَاتِ وَالْكُـرَمَـاءَ<br>
      نَجْـلَ السَّيِّــــدِ الْمُسَـاعِـدْ رَبِّ يَــا اللهُ<br><br>

      وَنَجْلـــَهُ أَحْمَــدَ الْهَــادِي وَسِيـــلَتَــنَــــا<br>
      شَمْـسَ الْهُدَي عَمَّــتِ الْآَفَاقِ يَـــا اللهُ<br><br>

      وَمَــنْ تَعَــلَّـــقَ بِالْأشْــــيَــاخِ قَاطِــبــَةً<br>
      مَعَ الْمُحِبِّـــينَ عَــنْــهُمْ وَارْضَ يَـا اللهُ<br><br>

      وَكُلُّ مَنْ يَقْــتـَـَفِي نَهْـــجَ حَبِــيـبِكَ يَــا<br>
      مَـــــــوْلاَيَ يَــا رَبَّــنَــا يَــا للهُ يَــا اللهُ<br><br>

      أَجْمِلْ عَوَاقــبَهُمْ أَصْــــلِحْ ذُرِّيَّــتَــهُـــمْ<br>
      وَارْحَـــمْ جَمَـــاعَــتَـهُـــــمْ يَا اللهُ يَا اللهُ<br><br>

      وَاجْعَــــلْ مَحَبَّتَهُمْ رُوحَ الْقُلُــــوبِ لَنَا<br>
      وَكَــوْنَـنَـــا مُــــقْــتَــفِي الْآثَــارِ يَـــا اللهُ<br><br>

      مَــــتِّـعْ لَنَـا رَبَّنَــا أَعْـمَــارَ كُـلِّـهِـــــــمُ<br>
      أ َفِــضْ عَــــلَيْنَــا بِـفَيْضِ الْيُمْــنِ يَــا اللهُ<br><br>

      أَدْخِــلَنـّـَا رَبَّنَــا أَسْـــرَارَهُــــــــمْ أَبَــدًا<br>
      وَاجْعَــــلْ لَنَــا حَــامِـلَ الْأْنْـوَارِ يَــا اللهُ<br><br>

      وَاسْلكْ بِنَـــا نَهْجَهُمْ وَفِّــقْ لَنَــا رَشَـــدًا<br>
      يَا جَــاعِــلَ الرُّشْــدِ بِالتَّــوْفَــيـقِ يَــا اللهُ<br><br>

      ثُمَّ الصَّلَاةُ عَلَي الْمُخْتَارِ مَـــــــا سَأَلَتْ<br>
      أَرْضٌ وَمَــا زَالَــتِ الْخَــضْرَاءُ يَــا اللهُ<br><br>

      آمِـــيـنَ آمــيــن يَا رَبَّ الْوَرَي كَرَمًــا<br>
      بِجَــاهِ يَــاسِــيـنَ وَالْمَــكْتُــــومِ يَــــا اللهُ<br><br>
      
      الدعاء الثاني<br>
      <br>

      يـــَــا اللهُ يـَـا قــَائـِـدَ الْأَبــْــرَارِ يـَا اللهُ<br>
      عـَـنِ المـَـعـَاصِي إِلَى الطَّــاعَاتِ يَا اللهُ<br><br>

      يَا اللهُ رَحمَــانُ سَتـَّارُ الْعـُـــيُوبِ وَيــَا<br>
      تــَـــوَّابُ يــَا غـَـافِــرَ الْأَوْثـَـارِ يــَـا اللهُ<br><br>

      خَلاَّقُ جـَـبــَّارُ قـَهـَّـارُ الْعـِـبـــَـادِ وَيـَـا<br>
      فــَـعَّــالَ مَا شِــئـْـتَ بِالْأَفـْـعــَالِ يـَـا اللهُ<br><br>

      حَناَّنُ مـَـنَّانُ يــَـا رَزَّاقُ يــَـا أَمـَـــلــِي<br>
      جـَــــوَّادُ يــَا وَاهــِـبَ الْأَعْــلاَقِ يـَـا اللهُ<br><br>

      يَا مَلْجَئِي عُمْدَتِي عـَوْنِي وَيــــَـاوَزَرِي<br>
      مـَــوْلاَيَ يـَـا نـَاصِــرِي يــَا اللهُ يـَــا اللهُ<br><br>

      يــَا مَنْ لَهُ لـَفْـظ كُنْ فِي كـُـلِّ مـُـنْـفـَعِـلٍ<br>
      بِالْحـُلْــوِ وَالْــمُـرِّ فيِ الــدَّارَيـْنِ يــَـا اللهُ<br><br>

      أَشْكُوا إِلَيْكَ مـَــمَاتَ القـَـلبِ مَعْ كَـسَــلٍ<br>
      عَلَى الجَــــوَارِحِ فِي الطـَّـاعَـاتِ يـَا اللهُ<br><br>

      بَلْ لِي هُمُومٌ كَـثـِـيـرٌ أَنـْتَ تَعْـلَمُهـَـــــا<br>
      لَا أَقْــدِرُ الـنـُّـطـقَ بـِـالْأَقـْـلاَمِ يـــَـــا اللهُ<br><br>

      وَفـِّـقْ لَنَا الرُّشْدَ فِي قـَـــوْلٍ وَفِي عَمَلٍ<br>
      وَنـِــيـَّةٍ فِيَّ بـِــالْأَفـْـعـَـالِ يــَــــــــــا اللهُ<br><br>

      إِنِّي أُفـَــوِّضُ أَمـْــرِي كـُـلهُ أَبــَـــــــدًا<br>
      إِلَـيْكَ يـَـا خَــيْـرَ مَـنْ يـُرْجـَاهُ يــــَــا اللهُ<br><br>

      أَمـْـرِي لِدُنْيــَــــايَ أَوْ أَمـْـرِي لِآخـِـرَةٍ<br>
      أَوْ بـَـرْزَخٍ أَيَّـمـَا الـتَّــوْ فـِــيضِ يــَـا اللهُ<br><br>

      كُنْ لِي مُغِـيــثًـا مُعـِـيـذًا مُـرْشـِــدًا لِهُدًا<br>
      يــَـا خَــيْـرَ رَبِّ الْمـُــرَبِّ الْعـَــــبْدِ يَا اللهُ<br><br>

      يـــَـــا مَـنْ أُنَادِيـهِ فِي سِرٍّ وَفِي عَلَـــنٍ<br>
      عـَـجـِّلْ لَنـَـا الْغَــوْثَ قـَبْلَ العـَــجْزِ يَا اللهُ<br><br>

      بِجــَــاهِ شـَـيْخِي وَأَشْيَــاخِي لـَـهُ وَبِمَنْ<br>
      يَهْدِي إِلَى الرُّشْدِ يَا مـَــوْلاَيَ يــَــــــا اللهُ<br><br>

      ثمَّ الصَّلَاةُ عَلَى المُخْتَارِ مَا انْبَسَطَــتْ<br>
      يـَـدَا الفَــقـِيـرِ إِلَى مُــغْنِيهِ يـــَــــــــــا اللهُ<br><br>

      آمِيــنَ آمِيـنَ يَا رَبَّ الوَرَي كَرَمــًــــا<br>
      بِجـَــاهِ يَاسِيـــنَ وَالمَكْـتُــومِ يـــَـــــــا اللهُ<br><br>
    </p>
  </div>

  <!-- Texte en Transcription Française -->
  <div *ngIf="showTranscription" class="text-transcription">
    <p class="tex">
      Du'aa al-wazifa canabaa<br>
      Hathihi hadiya bifaḍlillahi minna ilayk ya Rasul Allah,<br>
      jaziya Allah 'anna nabiyyina wa-shafi'ina wa-sayyidina wa-mawlana Muhammadan (ṣ) <br>
      niyaban 'an al-barzakh al-maktum, taj al-'arifin, mawd kull awliya' al-rahman, <br>
      Abi al-'Abbas Ahmad ibn Muhammad al-Salim al-Tijani radi Allah ta'ala 'anhu,<br> 
      jaziya Allah 'anna shaykhina wa-sayyidina al-shaykh al-mujahid Ahmadina nujjil <br>
      al-musa'id wa-khilafaihim wa-muqaddimih rida Allah ta'ala 'alayhim ajma'in<br><br>

      Ya Allahu ya Hayu ya Qayyumu ya Allahu <br>Ya Ja'il al-rushd bi al-tawfiq, ya Allahu<br><br>

      Ya Allahu, fajzi bi a'la ma jazayta bihi <br>'anna al-shafi'a lana, ya Allahu, ya Allahu<br><br>

      Wajazi shaykhana 'anna bi afdal ma <br>jazayta shaykhan bihi, ya Allahu, ya Allahu<br><br>

      Shaykh al-shuyukh Aba al-'Abbas Ahmadana <br>qutb al-dawa'ini lil-aqtab, ya Allahu<br><br>

      Washaykhana al-'arif al-ma'aruf Hafizana <br>wa shaykh mawludina, ya Allahu ya Allahu<br><br>

      Washaykhana al-mustafwi al-mukhtari min kurama'i <br>'abd al-karim kari'm al-nadbi, ya Allahu<br><br>

      Waghawthana fa'id al-anwar, minhalana <br>mahdiyyana al-sadiq al-masduq, ya Allahuu<br><br>

      Ni'ma al-sharifu alladhi min najl Fatimata <br>wa Haydar, zarighama al-abtal, ya Allahu<br><br>

      Wa najlahu Ahmad al-mukhtar hamil ra <br>yat al-basalat wa al-isalam, ya Allahu<br><br>

      Washaykhana sayyidi al-sadat wa al-kurama <br>najl al-sayidi al-musa'id, Rabb ya Allahu<br><br>

      Wa najlahu Ahmad al-hadi wa siilatana <br>shams al-hudaya 'ammat al-afaaq, ya Allahu<br><br>

      Wa man ta'allaq bi al-ashyaq qatibatan <br>ma'al-muhibbin 'anhum wa arda, ya Allahu<br><br>

      Wa kullu man yaqti-fi nahj habibik ya <br>mawlay ya rabbana ya Allah ya Allahu<br><br>

      Ajmil 'awaqibahum, aslih dhurriyatahum <br>warham jama'atahum, ya Allahu ya Allahu<br><br>

      Waj'al mahabbatahum ruh al-qulub lana <br>wa ku-lana muqtafi al-athar, ya Allahu<br><br>

      Matti' lana Rabbana a'amar kullihim <br>afidh 'alayna bi fayd al-yumin, ya Allahu<br><br>

      Adkhilana Rabbana asrarahum abadan <br>waj'al lana hamila al-anwar, ya Allahu<br><br>

      Wasluk bina nahjihim, wa ffiq lana rashdan <br>ya Ja'il al-rushdi bi al-tawfiq, ya Allahu<br><br>

      Thumma as-salatu 'ala al-mukhtaar ma sa'alt <br>ardun wa ma zaalat al-khudraa'u, ya Allahu<br><br>

      Ameena, Ameena, ya rabb al-wara karaman <br>bijaahi Yas'eena wal-Maktuum, ya Allahu<br><br>
    </p>
  </div>


  <!-- Texte en Traduction Française -->
  <div *ngIf="showFrench" class="text-french">
    <p class="tex">
      Dou'a al-Wazifa Janb<br>
      Ceci est un cadeau de notre part par la grâce de Dieu à toi, ô Messager de Dieu.<br> 
      Que Dieu récompense notre Prophète, notre Intercesseur, notre Maître et notre Bien-Aimé Muhammad (paix et salut sur lui) <br>en représentation du secret caché, la couronne des connaisseurs,<br> 
      celui qui soutient tous les saints du Miséricordieux, Abu al-Abbas Ahmad ibn Muhammad as-Salim at-Tijani <br>(que Dieu soit satisfait de lui).<br> 
      Que Dieu récompense notre Cheikh et notre Maître, le Cheikh combattant Ahmad, fils d'Al-Musa'id, ainsi que ses successeurs et représentants,<br> 
      que la satisfaction de Dieu soit sur eux tous.<br><br>

      Ô Dieu, ô Vivant, ô Subsistant, ô Dieu.<br>
      Ô Toi qui accorde la guidance avec succès, ô Dieu.<br>
      Ô Dieu, récompense le plus haut possible ce<br>
      que tu as récompensé notre Intercesseur pour nous, ô Dieu, ô Dieu.<br>
      Et récompense notre Cheikh pour nous du meilleur<br>
      de ce que tu as récompensé un Cheikh, ô Dieu, ô Dieu.<br>
      Le Cheikh des Cheikhs, Abou al-Abbas Ahmadana,<br>
      le Pôle des assemblées des pôles, ô Dieu.<br>
      Et notre Cheikh, le connaisseur reconnu qui nous protège,<br>
      et le Cheikh de notre naissance, ô Dieu, ô Dieu.<br>
      Et notre Cheikh, l'élu choisi parmi les nobles,<br>
      'Abd al-Karim, généreux de sa dignité, ô Dieu.<br>
      Et notre secours, le débordement des lumières, notre source,<br>
      notre Mahdi, le véridique et vérifié, ô Dieu.<br>
      Quel noble descendant de Fatima,<br>
      et Haidar, le lion des héros, ô Dieu.<br>
      Et son fils Ahmad al-Mukhtar, porteur de l'étendard<br>
      de la bravoure et de l'Islam, ô Dieu.<br>
      Et notre Cheikh, le maître des seigneurs et des nobles,<br>
      fils du seigneur Al-Musa'id, ô Dieu.<br>
      Et son fils Ahmad al-Hadi, notre moyen,<br>
      le soleil de la guidance, couvrant les horizons, ô Dieu.<br>
      Et quiconque s'attache aux Cheikhs en général,<br>
      avec les aimants pour eux, sois satisfait d'eux, ô Dieu.<br>
      Et tous ceux qui suivent le chemin de ton Bien-Aimé, ô<br>
      mon Seigneur, notre Seigneur, ô Dieu, ô Dieu.<br>
      Fais belles leurs fins, corrige leur progéniture,<br>
      et aie pitié de leur groupe, ô Dieu, ô Dieu.<br>
      Et rends leur amour l'esprit de nos cœurs<br>
      et que nous suivions leurs traces, ô Dieu.<br>
      Accorde-nous, notre Seigneur, les vies de chacun d'entre eux<br>
      et répands sur nous l'abondance du bonheur, ô Dieu.<br>
      Fais-nous entrer, notre Seigneur, dans leurs secrets éternellement,<br>
      et fais-nous porteurs des lumières, ô Dieu.<br>
      Guide-nous sur leur chemin et accorde-nous la guidance,<br>
      ô Toi qui accorde la guidance avec succès, ô Dieu.<br>
      Et que la prière soit sur l'Élu, tant que demandent<br>
      la terre et le ciel, ô Dieu.<br>
      Amen, amen, Seigneur des mondes, par honneur<br>
      par la grâce de Yasin et du Caché, ô Dieu.<br>
    </p>
  </div>
</ion-content>

<ion-footer class="foot">
  <p class="monfooter">Powerted by Alpha M Diop ibn Sope Naby</p>
</ion-footer>