<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Accueil"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الْفَاءِ</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">


<ion-slide>
  <img src="./assets/img/437.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/438.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/439.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/440.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/441.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/442.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/443.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/444.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/445.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/446.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/447.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/448.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/449.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/450.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/451.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/452.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/453.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/454.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/455.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/456.jpg" alt="">
</ion-slide>

</ion-slides>

</ion-content>


