<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Retour"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الْفَاءِ</h1></ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/kha">suivant</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">


<ion-slide>
  <img src="./assets/img/437.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/438.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/439.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/440.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/441.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/442.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/443.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/444.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/445.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/446.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/447.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/448.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/449.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/450.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/451.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/452.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/453.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/454.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/455.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/456.jpeg" alt="">
</ion-slide>

</ion-slides>

</ion-content>


