<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Retour"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الْقَافِ</h1></ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/shin">suivant</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">


<ion-slide>
  <img src="./assets/img/457.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/458.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/459.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/460.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/461.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/462.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/463.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/464.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/465.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/466.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/467.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/468.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/469.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/470.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/471.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/472.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/473.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/474.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/475.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/476.jpeg" alt="">
</ion-slide>

</ion-slides>

</ion-content>


