<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Accueil"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الْقَافِ</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">


<ion-slide>
  <img src="./assets/img/457.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/458.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/459.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/460.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/461.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/462.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/463.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/464.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/465.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/466.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/467.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/468.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/469.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/470.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/471.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/472.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/473.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/474.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/475.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/476.jpg" alt="">
</ion-slide>

</ion-slides>

</ion-content>


