<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Image Display -->
  <div class="image-container">
    <img src="./assets/img/sikar.jpg" alt="Sikar Image" />
  </div>

  <div class="tasbih-container">

    <div class="tasbih-circle">
      <div class="tasbih-background">
        <div class="tasbih-counter-circle">
          <h1>{{ counter }}</h1>
        </div>
      </div>
    </div>

    <div class="tasbih-controls">
      <ion-button fill="clear" (click)="toggleSound()">
        <ion-icon [name]="isSoundEnabled ? 'volume-high' : 'volume-mute'" [color]="isSoundEnabled ? 'primary' : 'light'"></ion-icon>
      </ion-button>

      <ion-button fill="solid" color="medium" class="increment-button" (click)="incrementCounter()">
        <ion-icon name="add" class="increment-icon"></ion-icon>
      </ion-button>

      <ion-button fill="clear" (click)="toggleVibration()">
        <ion-icon [name]="isVibrationEnabled ? 'vibration' : 'vibration-off'" class="vibration-icon"></ion-icon>
      </ion-button>
    </div>

    <div class="tasbih-reset">
      <ion-button fill="solid" color="danger" shape="round" (click)="resetCounter()">
        <ion-icon name="refresh" size="large"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>

<ion-footer class="foot">
  <p class="monfooter">Powerted by Alpha M Diop ibn Sope Naby</p>
</ion-footer>