<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Retour"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الْظَّاءِ </h1></ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/kaf">suivant</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">

<ion-slide>
  <img src="./assets/img/255.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/256.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/257.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/258.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/259.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/260.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/261.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/262.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/263.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/264.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/265.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/266.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/267.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/268.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/269.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/270.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/271.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/272.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/273.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/274.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/275.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/276.jpeg" alt="">
</ion-slide>

</ion-slides>

</ion-content>


