<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Accueil"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الْظَّاءِ </h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">

<ion-slide>
  <img src="./assets/img/255.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/256.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/257.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/258.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/259.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/260.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/261.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/262.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/263.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/264.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/265.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/266.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/267.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/268.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/269.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/270.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/271.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/272.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/273.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/274.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/275.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/276.jpg" alt="">
</ion-slide>

</ion-slides>

</ion-content>


