<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/home" text="Retour"></ion-back-button>
        </ion-buttons>
      <ion-title><h1>حَرْفُ الْشٌِينِ</h1></ion-title>
      <ion-buttons slot="end">
        <ion-button routerLink="/sin">suivant</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  <img src="" alt="">
  
  <ion-slides pager="true">
  
  
  <ion-slide>
    <img src="./assets/img/477.jpeg" alt="">
  </ion-slide>
  <ion-slide>
    <img src="./assets/img/478.jpeg" alt="">
  </ion-slide>
  <ion-slide>
    <img src="./assets/img/479.jpeg" alt="">
  </ion-slide>
  <ion-slide>
    <img src="./assets/img/480.jpeg" alt="">
  </ion-slide>
  <ion-slide>
    <img src="./assets/img/481.jpeg" alt="">
  </ion-slide>
  <ion-slide>
    <img src="./assets/img/482.jpeg" alt="">
  </ion-slide>
  <ion-slide>
    <img src="./assets/img/483.jpeg" alt="">
  </ion-slide>
  <ion-slide>
    <img src="./assets/img/484.jpeg" alt="">
  </ion-slide>
  <ion-slide>
    <img src="./assets/img/485.jpeg" alt="">
  </ion-slide>
  <ion-slide>
    <img src="./assets/img/486.jpeg" alt="">
  </ion-slide>
  <ion-slide>
    <img src="./assets/img/487.jpeg" alt="">
  </ion-slide>
  <ion-slide>
    <img src="./assets/img/488.jpeg" alt="">
  </ion-slide>
  <ion-slide>
    <img src="./assets/img/489.jpeg" alt="">
  </ion-slide>
  <ion-slide>
    <img src="./assets/img/490.jpeg" alt="">
  </ion-slide>
  <ion-slide>
    <img src="./assets/img/491.jpeg" alt="">
  </ion-slide>
  <ion-slide>
    <img src="./assets/img/492.jpeg" alt="">
  </ion-slide>
  <ion-slide>
    <img src="./assets/img/493.jpeg" alt="">
  </ion-slide>
  <ion-slide>
    <img src="./assets/img/494.jpeg" alt="">
  </ion-slide>
  <ion-slide>
    <img src="./assets/img/495.jpeg" alt="">
  </ion-slide>
  <ion-slide>
    <img src="./assets/img/496.jpeg" alt="">
  </ion-slide>
  
  </ion-slides>
  
  </ion-content>
  
  
  