<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/home" text="Accueil"></ion-back-button>
        </ion-buttons>
      <ion-title><h1>حَرْفُ الْشٌِينِ</h1></ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  <img src="" alt="">
  
  <ion-slides pager="true">
  
  
  <ion-slide>
    <img src="./assets/img/477.jpg" alt="">
  </ion-slide>
  <ion-slide>
    <img src="./assets/img/478.jpg" alt="">
  </ion-slide>
  <ion-slide>
    <img src="./assets/img/479.jpg" alt="">
  </ion-slide>
  <ion-slide>
    <img src="./assets/img/480.jpg" alt="">
  </ion-slide>
  <ion-slide>
    <img src="./assets/img/481.jpg" alt="">
  </ion-slide>
  <ion-slide>
    <img src="./assets/img/482.jpg" alt="">
  </ion-slide>
  <ion-slide>
    <img src="./assets/img/483.jpg" alt="">
  </ion-slide>
  <ion-slide>
    <img src="./assets/img/484.jpg" alt="">
  </ion-slide>
  <ion-slide>
    <img src="./assets/img/485.jpg" alt="">
  </ion-slide>
  <ion-slide>
    <img src="./assets/img/486.jpg" alt="">
  </ion-slide>
  <ion-slide>
    <img src="./assets/img/487.jpg" alt="">
  </ion-slide>
  <ion-slide>
    <img src="./assets/img/488.jpg" alt="">
  </ion-slide>
  <ion-slide>
    <img src="./assets/img/489.jpg" alt="">
  </ion-slide>
  <ion-slide>
    <img src="./assets/img/490.jpg" alt="">
  </ion-slide>
  <ion-slide>
    <img src="./assets/img/491.jpg" alt="">
  </ion-slide>
  <ion-slide>
    <img src="./assets/img/492.jpg" alt="">
  </ion-slide>
  <ion-slide>
    <img src="./assets/img/493.jpg" alt="">
  </ion-slide>
  <ion-slide>
    <img src="./assets/img/494.jpg" alt="">
  </ion-slide>
  <ion-slide>
    <img src="./assets/img/495.jpg" alt="">
  </ion-slide>
  <ion-slide>
    <img src="./assets/img/496.jpg" alt="">
  </ion-slide>
  
  </ion-slides>
  
  </ion-content>
  
  
  