<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Accueil"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الْشِّينِ</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">


<ion-slide>
  <img src="./assets/img/497.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/498.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/499.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/500.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/501.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/502.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/503.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/504.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/505.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/506.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/507.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/508.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/509.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/510.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/511.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/512.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/513.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/514.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/515.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/516.jpg" alt="">
</ion-slide>

</ion-slides>

</ion-content>


