<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Retour"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الْعَيْنِ</h1></ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/ghayn">suivant</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">


<ion-slide>
  <img src="./assets/img/397.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/398.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/399.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/400.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/401.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/402.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/403.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/404.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/405.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/406.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/407.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/408.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/409.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/410.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/411.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/412.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/413.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/414.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/415.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/416.jpeg" alt="">
</ion-slide>

</ion-slides>

</ion-content>


