<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Accueil"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الْغَيْنِ</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">


<ion-slide>
  <img src="./assets/img/417.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/418.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/419.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/420.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/421.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/422.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/423.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/424.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/425.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/426.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/427.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/428.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/429.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/430.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/431.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/432.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/433.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/434.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/435.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/436.jpg" alt="">
</ion-slide>

</ion-slides>

</ion-content>


