<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Retour"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الْغَيْنِ</h1></ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/fa">suivant</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">


<ion-slide>
  <img src="./assets/img/417.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/418.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/419.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/420.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/421.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/422.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/423.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/424.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/425.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/426.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/427.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/428.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/429.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/430.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/431.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/432.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/433.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/434.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/435.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/436.jpeg" alt="">
</ion-slide>

</ion-slides>

</ion-content>


