<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Accueil"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الهَمْزَةِ</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">

<ion-slide>
  <img src="./assets/img/1.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/2.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/3.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/4.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/5.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/6.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/7.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/8.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/9.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/10.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/11.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/12.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/13.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/16.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/17.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/18.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/19.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/20.jpg" alt="">
</ion-slide>

</ion-slides>

</ion-content>


