<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Accueil"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الْمِيمِ</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">


<ion-slide>
  <img src="./assets/img/317.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/318.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/319.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/320.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/321.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/322.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/323.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/324.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/325.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/326.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/327.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/328.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/329.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/320.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/331.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/332.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/333.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/334.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/335.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/336.jpg" alt="">
</ion-slide>

</ion-slides>

</ion-content>


