<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Retour"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الْمِيمِ</h1></ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/nun">suivant</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">


<ion-slide>
  <img src="./assets/img/317.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/318.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/319.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/320.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/321.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/322.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/323.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/324.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/325.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/326.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/327.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/328.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/329.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/320.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/331.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/332.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/333.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/334.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/335.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/336.jpeg" alt="">
</ion-slide>

</ion-slides>

</ion-content>


