<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Accueil"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الْزَّاءِ</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">

<ion-slide>
  <img src="./assets/img/212.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/213.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/214.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/215.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/216.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/217.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/218.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/219.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/220.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/221.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/222.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/223.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/224.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/225.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/226.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/227.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/228.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/229.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/230.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/231.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/232.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/233.jpg" alt="">
</ion-slide>

</ion-slides>

</ion-content>


