<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Retour"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الْزَّاءِ</h1></ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/taa">suivant</ion-button> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">

<ion-slide>
  <img src="./assets/img/212.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/213.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/214.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/215.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/216.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/217.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/218.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/219.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/220.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/221.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/222.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/223.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/224.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/225.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/226.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/227.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/228.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/229.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/230.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/231.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/232.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/233.jpeg" alt="">
</ion-slide>

</ion-slides>

</ion-content>


