<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Hadara Jouma</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-wrapper">
    <p>
      Le zikr communément appelé hadaratoul djouma (hadara) doit être récité le vendredi entre la prière de asr et le crépuscule (maghrib). Il est recommandé de le faire en groupe ou seul si on a un empêchement.
    </p>

    <h2 class="center-text">Réciter 1 fois</h2>
    <p>
      <span class="arabic-text">أعُوذُ بالله من الشيطان الرّجيمْ</span>
      <br> <span class="french-text">Réciter la formule de préservation contre Satan le maudit (« Aoûzou bilâhi mina chaytâni rajîme » : Je cherche refuge auprès de Dieu contre Satan le maudit).</span>
    </p>

    <h2 class="center-text">Réciter 3 fois</h2>
    <p>
      <span class="arabic-text">أسْتَغْفِرُ اللّه العَظِمَ الّذِي لا إله إلاّ هُوَ الحَيُّ القيوم</span>
      <br> <span class="french-text">Astaghfiroullah al ‘azîmal lazî lâ ilâha illa houwal hayyoul qayyoum.</span>
    </p>

    <h2 class="center-text">Réciter 3 fois</h2>
    <p>
      <span class="arabic-text">
        اللَّهُمَّ صَلِّ عَلَى سَيِّدِنَا مُحَمَّدٍ الْفَتِحِ لِمَا اُغْلِقَ وَالْخَاتِمِ لِمَا سَبَقَ نَاصِرِ الْحَقِّ بِالْحَقِّ وَ الْهَادِي إلَى صِراطِكَ الْمُسْتَقِيمِ وَ عَلَى آلِهِ حَقَّ قَدْرِهِ وَ مِقْدَارِهِ الْعَظِيمِ
      </span>
      <br> <span class="french-text">Salatoul Fatihi : Allâhoumma salli ‘alaa sayyidinaa mouhammadin-il-faatihi limaa oughliqa wa-l-khaatimi limaa sabaqa naasiri-l-haqqi bi-l-haqq(i) Wa-l-haadi ilaa siraatika-l-moustaqiimi wa ‘alaa aalihii haqqa qadrihi wa miqdaarihi-l-‘aziim.</span>
    </p>

    <h2 class="center-text">Réciter 1 fois</h2>
    <p>
      <span class="arabic-text">
        سُبْحَانَ رَبِّكَ رَبِّ الْعِزَّةِ عَمَّا يَصِفُونَ وَ سَلامٌ عَلَى الْمُرْسَلِينَ وَالْحَمْدُ لِللهِ رَبِّ الْعَلَمِينَ
      </span>
      <br> <span class="french-text">Louange à Dieu, le Puissant, accorde Ton Salut aux Envoyés, Gloire à Dieu ! Seigneur des mondes.</span>
    </p>

    <h2 class="center-text">Réciter avant Maghrib</h2>
    <p>
      <span class="arabic-text">لا إله إلاّ اللّه</span>
      <br> <span class="french-text">La ilaha illah lah (Il n’y a de divinité que Dieu) un certain temps avant maghrib et après ‘asr (par exemple 1 heure).</span>
    </p>

    <h2 class="center-text">Clôturer</h2>
    <p>
      <span class="arabic-text">
        إِنَّ اللَّهَ وَمَلائِكَتَهُ يُصَلُّونَ عَلَى النَّبِيِّ يَا أَيُّهَا الَّذِينَ آمَنُوا صَلُّوا عَلَيْهِ وَسَلِّمُوا تَسْلِيمًا صَلّى اللّهُ تَعَالَى عَلَيْهِ وَ عَلَى آلِهِ وَ صَحْبِهِ وَ سَلَّمَ تَسْلِيمًا سُبْحَانَ رَبِّكَ رَبِّ الْعِزَّةِ عَمَّا يَصِفُونَ وَ سَلامٌ عَلَى الْمُرْسَلِينَ وَالْحَمْدُ لِللهِ رَبِّ الْعَلَمِينَ
      </span>
      <br> <span class="french-text">Certes Dieu et ses Anges bénissent le Prophète et Lui accordent le Salut ; O vous qui croyez, priez sur lui et adressez lui vos salutations. Que Dieu le Très Haut le bénisse et bénisse sa famille, ses compagnons et les salue, Louange à Dieu, le Puissant, accorde Ton Salut aux Envoyés, Gloire à Dieu ! Seigneur des mondes.</span>
    </p>
  </div>
</ion-content>
