<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Retour"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الْوَاوِ</h1></ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/lamalif">suivant</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">


<ion-slide>
  <img src="./assets/img/537.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/538.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/539.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/540.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/541.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/542.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/543.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/544.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/545.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/546.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/547.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/548.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/549.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/550.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/551.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/552.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/553.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/554.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/555.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/556.jpeg" alt="">
</ion-slide>

</ion-slides>

</ion-content>


