<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Accueil"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الْوَاوِ</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">


<ion-slide>
  <img src="./assets/img/537.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/538.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/539.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/540.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/541.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/542.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/543.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/544.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/545.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/546.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/547.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/548.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/549.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/550.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/551.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/552.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/553.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/554.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/555.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/556.jpg" alt="">
</ion-slide>

</ion-slides>

</ion-content>


