<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Accueil"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الْهَاءِ</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">


<ion-slide>
  <img src="./assets/img/517.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/518.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/519.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/520.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/521.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/522.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/523.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/524.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/525.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/526.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/527.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/528.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/529.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/530.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/531.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/532.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/533.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/534.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/535.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/536.jpg" alt="">
</ion-slide>

</ion-slides>

</ion-content>


