<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Retour"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الْهَاءِ</h1></ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/waw">suivant</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">


<ion-slide>
  <img src="./assets/img/517.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/518.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/519.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/520.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/521.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/522.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/523.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/524.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/525.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/526.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/527.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/528.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/529.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/530.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/531.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/532.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/533.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/534.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/535.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/536.jpeg" alt="">
</ion-slide>

</ion-slides>

</ion-content>


