<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Accueil"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الْلاَّمِ</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">


<ion-slide>
  <img src="./assets/img/297.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/298.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/299.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/300.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/301.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/302.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/303.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/304.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/305.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/306.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/307.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/308.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/309.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/310.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/311.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/312.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/313.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/314.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/315.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/316.jpg" alt="">
</ion-slide>

</ion-slides>

</ion-content>


