<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Retour"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الْلاَّمِ</h1></ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/mim">suivant</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">


<ion-slide>
  <img src="./assets/img/297.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/298.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/299.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/300.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/301.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/302.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/303.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/304.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/305.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/306.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/307.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/308.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/309.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/310.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/311.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/312.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/313.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/314.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/315.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/316.jpeg" alt="">
</ion-slide>

</ion-slides>

</ion-content>


