<ion-header [translucent]="true">
  <ion-toolbar>

        <ion-label><img src="./assets/img/mame.jpg" alt=""></ion-label>
        </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-item button detail lines="full">
    <ion-label><h1>Ibnoul Mouhaïb</h1></ion-label>
  </ion-item> 
  <ion-item routerLink="/alif" button detail lines="full">
    <ion-label><h1>حَرْفُ الهَمْزَةِ</h1></ion-label>
  </ion-item>
  
  <ion-item routerLink="/ba" button detail lines="full">
    <ion-label><h1>حَرْفُ الْبَاءِ</h1></ion-label>
  </ion-item>
  
  <ion-item routerLink="/ta" button detail lines="full">
    <ion-label ><h1>حَرْفُ الْتَاءِ</h1></ion-label>
  </ion-item>

  <ion-item routerLink="/tha" button detail lines="full">
    <ion-label><h1>حَرْفُ الْثَاءِ</h1></ion-label>
  </ion-item>

  <ion-item routerLink="/jim" button detail lines="full">
    <ion-label><h1>حَرْفُ الْجِيمِ</h1></ion-label>
  </ion-item>

  <ion-item routerLink="/ha" button detail lines="full">
    <ion-label><h1>حَرْفُ الْحَاءِ</h1></ion-label>
  </ion-item>
  
  <ion-item routerLink="/hah" button detail lines="full">
    <ion-label><h1>حَرْفُ الْخَاءِ</h1></ion-label>
  </ion-item>
  
  <ion-item routerLink="/dal" button detail lines="full">
    <ion-label><h1>حَرْفُ الْدَّالِ</h1></ion-label>
  </ion-item>
  
  <ion-item routerLink="/jhal" button detail lines="full">
    <ion-label><h1>حَرْفُ الْذَّالِ</h1></ion-label>
  </ion-item>
  
  <ion-item routerLink="/ra" button detail lines="full">
    <ion-label><h1>حَرْفُ الْرَّاءِ</h1></ion-label>
  </ion-item>

  <ion-item routerLink="/za" button detail lines="full">
    <ion-label><h1>حَرْفُ الْزَّاءِ</h1></ion-label>
  </ion-item>
  
  <ion-item routerLink="/taa" button detail lines="full">
    <ion-label><h1>حَرْفُ الْطَّاءِ</h1></ion-label>
  </ion-item>

  <ion-item routerLink="/zha" button detail lines="full">
    <ion-label><h1>حَرْفُ الْظَّاءِ </h1></ion-label>
  </ion-item>
  
  <ion-item routerLink="/kaf" button detail lines="full">
    <ion-label><h1>حَرْفُ الْكَافِ</h1></ion-label>
  </ion-item>

  <ion-item routerLink="/lam" button detail lines="full">
    <ion-label><h1>حَرْفُ الْلاَّمِ</h1></ion-label>
  </ion-item>
  
  <ion-item routerLink="/mim" button detail lines="full">
    <ion-label><h1>حَرْفُ الْمِيمِ</h1></ion-label>
  </ion-item>

  <ion-item routerLink="/nun" button detail lines="full">
    <ion-label><h1>حَرْفُ الْنُّونِ</h1></ion-label>
  </ion-item>
  
  <ion-item routerLink="/sad" button detail lines="full">
    <ion-label><h1>حَرْفُ الْصَّادِ</h1></ion-label>
  </ion-item>
  
  <ion-item routerLink="/dad" button detail lines="full">
    <ion-label><h1>حَرْفُ الْضَّادِ</h1></ion-label>
  </ion-item>
  
  <ion-item routerLink="/hayn" button detail lines="full">
    <ion-label><h1>حَرْفُ الْعَيْنِ</h1></ion-label>
  </ion-item>
  
  <ion-item routerLink="/ghayn" button detail lines="full">
    <ion-label><h1>حَرْفُ الْغَيْنِ</h1></ion-label>
  </ion-item>
  
  <ion-item routerLink="/fa" button detail lines="full">
    <ion-label><h1>حَرْفُ الْفَاءِ</h1></ion-label>
  </ion-item>
  
  <ion-item routerLink="/kha" button detail lines="full">
    <ion-label><h1>حَرْفُ الْقَافِ</h1></ion-label>
  </ion-item>

  <ion-item routerLink="/shin" button detail lines="full">
    <ion-label><h1>حَرْفُ الْشٌِينِ</h1></ion-label>
  </ion-item>

  <ion-item routerLink="/sin" button detail lines="full">
    <ion-label><h1>حَرْفُ الْشِّينِ</h1></ion-label>
  </ion-item>
  
  <ion-item routerLink="/heu" button detail lines="full">
    <ion-label><h1>حَرْفُ الْهَاءِ</h1></ion-label>
  </ion-item>
  
  <ion-item routerLink="/waw" button detail lines="full">
    <ion-label><h1>حَرْفُ الْوَاوِ</h1></ion-label>
  </ion-item>
  
  <ion-item routerLink="/lamalif" button detail lines="full">
    <ion-label><h1>حَرْفُ اللَّامِ الْلألِفِ</h1></ion-label>
  </ion-item>
  
  <ion-item routerLink="/yaa" button detail lines="full">
    <ion-label><h1>حَرْفُ الْيَاءِ</h1></ion-label>
  </ion-item>
  
</ion-content> 

 <ion-footer class="foot">
  <p class="monfooter">powerted by Alpha M Diop</p>
 </ion-footer>
