<ion-header [translucent]="true">
  <ion-toolbar>

        <ion-label><img src="./assets/img/mame.jpeg" alt=""></ion-label>
        </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item >
    <ion-label><h1>Ibnoul Mouhaïbe</h1></ion-label>
  </ion-item>
    <tr>
      <td>
  <ion-item routerLink="/ibnoul" >
    <img src="./assets/img/ibn.jpg" alt="">
    
  </ion-item>
     </td>
     <td>
  <ion-item routerLink="/firi">
    <img src="./assets/img/firi.jpg" alt="">
    
  </ion-item>
</td>
</tr>

</ion-content>

 <ion-footer class="foot">
  <p class="monfooter">powerted by Alpha M Diop</p>
 </ion-footer>
