<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Retour"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ اللَّامِ الْلألِفِ</h1></ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/yaa">suivant</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true"> 


<ion-slide>
  <img src="./assets/img/557.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/558.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/559.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/560.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/561.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/562.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/563.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/564.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/565.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/566.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/567.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/568.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/569.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/570.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/571.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/572.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/573.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/574.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/575.jpeg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/576.jpeg" alt="">
</ion-slide>

</ion-slides>

</ion-content>


