<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Accueil"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ اللَّامِ الْلألِفِ</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">


<ion-slide>
  <img src="./assets/img/557.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/558.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/559.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/560.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/561.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/562.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/563.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/564.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/565.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/566.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/567.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/568.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/569.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/570.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/571.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/572.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/573.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/574.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/575.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/576.jpg" alt="">
</ion-slide>

</ion-slides>

</ion-content>


