<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text="Accueil"></ion-back-button>
      </ion-buttons>
    <ion-title><h1>حَرْفُ الْثَاءِ</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="" alt="">

<ion-slides pager="true">

<ion-slide>
  <img src="./assets/img/65.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/66.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/67.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/68.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/69.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/70.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/71.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/72.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/73.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/74.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/75.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/76.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/77.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/78.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/79.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/80.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/81.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/82.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/83.jpg" alt="">
</ion-slide>
<ion-slide>
  <img src="./assets/img/84.jpg" alt="">
</ion-slide>

</ion-slides>

</ion-content>


