<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Wazifa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-wrapper">

    <ion-card>
      <ion-card-header>
        <ion-card-title class="center-text">Réciter 1 fois</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="arabic-text">أعُوذُ بالله من الشيطان الرّجيمْ</p>
        <p class="french-text">
          Réciter la formule de préservation contre Satan le maudit (« Aoûzou bilâhi mina chaytâni rajîme » : Je cherche refuge auprès de Dieu contre Satan le maudit).
        </p>
      </ion-card-content>
    </ion-card>

    <!-- Repeated blocks for other recitations -->
    <ion-card>
      <ion-card-header>
        <ion-card-title class="center-text">Réciter 30 fois</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="arabic-text">أسْتَغْفِرُ اللّه العَظِمَ الّذِي لا إله إلاّ هُوَ الحَيُّ القيوم</p>
        <p class="french-text">Astaghfiroullah al 'azîmal lazî lâ ilâha illa houwal hayyoul qayyoum.</p>
      </ion-card-content>
    </ion-card>

    <!-- Continue similarly for other sections -->

    <ion-card>
      <ion-card-header>
        <ion-card-title class="center-text">Clôturer</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="arabic-text">
          إِنَّ اللَّهَ وَمَلائِكَتَهُ يُصَلُّونَ عَلَى النَّبِيِّ يَا أَيُّهَا الَّذِينَ آمَنُوا صَلُّوا عَلَيْهِ وَسَلِّمُوا تَسْلِيمًا صَلّى اللّهُ تَعَالَى عَلَيْهِ وَ عَلَى آلِهِ وَ صَحْبِهِ وَ سَلَّمَ تَسْلِيمًا سُبْحَانَ رَبِّكَ رَبِّ الْعِزَّةِ عَمَّا يَصِفُونَ وَ سَلامٌ عَلَى الْمُرْسَلِينَ وَالْحَمْدُ لِللهِ رَبِّ الْعَلَمِينَ
        </p>
        <p class="french-text">
          Certes Dieu et ses Anges bénissent le Prophète et Lui accordent le Salut ; O vous qui croyez, priez sur lui et adressez lui vos salutations. Que Dieu le Très Haut le bénisse et bénisse sa famille, ses compagnons et les salue, Louange à Dieu, le Puissant, accorde Ton Salut aux Envoyés, Gloire à Dieu ! Seigneur des mondes.
        </p>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
