<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Wazifa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-wrapper">
 <!-- Ouverture -->
 <h2 class="center-text">Ouverture</h2>
 <p class="text-arabic">
   اللهم إني نويت تلاوةهذاالوردتعظيماوإجلالالك وابتغاء مرضاتك،وقصدالوجهك الكريم مخلصالك من أجلك وأقول بإمدادك وعونك وحولك وقتك وماوهبتني من إنعامك وتوفيقك مستعينابك
 </p>
 <p class="text-transliteration">
   Allahumma inni nawaytu tilāwata hādhā al-wirdi taʿẓīman wa ijlālan laka wa ibtighā'a marḍātik, wa qaṣdan li-wajhika al-karīm mukhliṣan laka min ajlik, wa aqūlu bi-imdādika wa ʿawnika wa ḥawlik wa quwwatika wa mā wahabtani min inʿāmika wa tawfīqika mustaʿīn.
 </p>

 <!-- Réciter 1 fois -->
 <h2 class="center-text">Réciter 1 fois</h2>
 <p>
   <span class="arabic-text">أعُوذُ بالله من الشيطان الرّجيمْ</span>
   <br> 
   <span class="french-text">Réciter la formule de préservation contre Satan le maudit (« Aoûzou bilâhi mina chaytâni rajîme » : Je cherche refuge auprès de Dieu contre Satan le maudit).</span>
 </p>

 <!-- Fatiha 1 fois -->
 <h2 class="center-text">Fatiha 1 fois</h2>
 <p class="text-arabic">
   بِسْمِ اللَّهِ الرَّحْمَٰنِ الرَّحِيمِ<br>
   الْحَمْدُ لِلَّهِ رَبِّ الْعَالَمِينَ
   الرَّحْمَٰنِ الرَّحِيمِ
   مَالِكِ يَوْمِ الدِّينِ
   إِيَّاكَ نَعْبُدُ وَإِيَّاكَ نَسْتَعِينُ
   اهْدِنَا الصِّرَاطَ الْمُسْتَقِيمَ
   صِرَاطَ الَّذِينَ أَنْعَمْتَ عَلَيْهِمْ غَيْرِ الْمَغْضُوبِ عَلَيْهِمْ وَلَا الضَّالِّينَ
 </p>
 <p class="french-text">
   Bismi-llāhi r-raḥmāni r-raḥīm<br>
   Al-ḥamdu li-llāhi rabbi l-ʿālamīn
   Ar-raḥmāni r-raḥīm
   Māliki yawmi d-dīn
   Iyyāka naʿbudu wa-iyyāka nastaʿīn
   Ihdinā ṣ-ṣirāṭa l-mustaqīm
   Ṣirāṭa l-ladhīna anʿamta ʿalayhim ghayri l-maghḍūbi ʿalayhim walā ḍ-ḍāllīn
 </p>
    <h2 class="center-text">Réciter 30 fois</h2>
    <p>
      <span class="arabic-text">أسْتَغْفِرُ اللّه العَظِمَ الّذِي لا إله إلاّ هُوَ الحَيُّ القيوم</span>
      <br>
      <span class="french-text">Astaghfiroullah al 'azîmal lazî lâ ilâha illa houwal hayyoul qayyoum.</span>
    </p>
    <br>
    <h2 class="center-text">Réciter 50 fois</h2>
    <p>
      <span class="arabic-text">
        اَلَّلهُمَّ صَلِّ عَلَى سَيِّدِنَا مُحَمَّدٍ الْفَاتِحِ لِمَا أُغْلِقَ وَالْخَاتِمِ لِمَا سَبَقَ نَاصِرِ الْحَقِّ بِالْحَقِّ وَالْهَادِى إِلَى صِرَاطِكَ الْمُسْتَقِيمِ وَعَلَى آلِهِ حَقَّ قَدرِهِ وَمِقْدَارِهِ الْعَظِيم
      </span>
      <br><br>
      <span class="french-text">
        Traduction Phonétique : Allâhouma çalli alâ sayedinâ Muhammadine, al fâtihi limâoukhlikha ; wal khâtimi, limâ sabakha, nâssiril hakhi ; bilhakhi, wal hâdi illâ sirâtikal moustakhîme ; wa alâ âlihî, hakha khadriî wa mikhedâri il azîme.
        <br><br>
        Traduction : Mon Dieu ! Accorde Ta bénédiction à notre Seigneur Muhammad qui a ouvert ce qui était clos, qui a clos ce qui a précédé, le défenseur de la vérité par la vérité, le guide du droit chemin ainsi, qu'à sa famille, suivant sa valeur et l'estimation de son ultime dignité.
      </span>
    </p>
    <br><br>
    <h2 class="center-text">Réciter 1 fois</h2>
    <p>
      <span class="arabic-text">
        سُبْحَانَ رَبِّكَ رَبِّ الْعِزَّةِ عَمَّا يَصِفُونَ وَ سَلامٌ عَلَى الْمُرْسَلِينَ وَالْحَمْدُ لِللهِ رَبِّ الْعَلَمِينَ
      </span>
      <br>
      <span class="french-text">Louange à Dieu, le Puissant, accorde Ton Salut aux Envoyés, Gloire à Dieu ! Seigneur des mondes.</span>
    </p>
    <br><br>
    <h2 class="center-text">Réciter 100 fois</h2>
    <p>
      <span class="arabic-text">لا إله إلاّ اللّه</span>
      <br>
      <span class="french-text">La ilaha illah lah (Il n’y a de divinité que Dieu).</span>
    </p>

    <p>
      <span class="arabic-text">سيدنا محمد رسول الله عليه سلام الله</span>
      <br>
      <span class="french-text">Seydina Mouhamadou Rassouloul Laahi, aleyhi salamoul Laahi.</span>
    </p>
    <br><br>
    <h2 class="center-text">Réciter 12 fois</h2>
    <p>
      <span class="arabic-text">
        اللَّهُمَّ صَلِّ وَ سلِّمْ عَلَى عَيْنِ الرَّحْمَةِ الرَّبَانِيَّةِ والْياقُوتَةِ الْمُتحَقِّقَةِ الْحَائِطَةِ بِمَرْكَزِالْفُهُومِ وَالْمَعَانِي وَنُورِالْاَكْوانِ المُتَكَوِّنَةِ الْآدَمِّي صَاحِبِ الْحَقِّ الرَّبَّانِّي اَلْبَرْقِ الْاَسْطَعِ بِمُزُونِ الْاَرْبَاحِ الْمَالِئَةِ لِكُلِّ مُتَعَرِّضٍ مِنَ الْبُحُورِ وَالْاَوانِي وَ نُورِكَ اللَّامِعِ اَلَّذِي مَلَاْتَ بِهِ كَوْنَكَ الْحَائِطَ بِاَمْكِنَةِ الْمَكَانِي اَللَّهُمَّ صَلِّ وَ سَلِّمْ عَلَى عَيْنِ الْحَقِّ اَلَّتِي تَتَجَلَّى مِنْهَا عُروشُ الْحَقَائِقِ عَينِ الْمَعَارِفِ الْاَقْوَمِ صِراطِكَ اَلتَّامِّ الْاَسْقَمِ اَللَّهُمَّ صَلِّ وَ سلِّمْ عَلَى طَلْعَةِ الْحَقِّ بِالْحَقِّ اَلْكَنْزِ الْاَعْظَمِ إِفاضَتِكَ مِنْكَ إِلَيْكَ إِحاَطَةِ النُّورِ الْمُطَلْسَمِ صَلَّ اللَّهُ عَلَيْهِ وَ عَلَى آلِهِ صَلَاةً تُعَرِّفُنَا بِهَا إيَّاهُ
      </span>
      <br><br>
      <span class="french-text">
        Diawaratoul kamal : Allâhouma çalli wa sallim hala haïni rahmati rabbâniyati wal yakhoûtatilmoutahakhihatil. Hâ-itatibimarkazil fahoûmi wal mahâni wa noûril akwanil moutakawinatil âdamiyisâhibil hakhi rabbâni al barkhil astâhi bimouzounil arbâhil mali-ati li koullimoutahardine minal bouhoûri wal awâni wa noûri kallâmihi lazî malaktabihî kawnakal ha-ita bi amkinatil makâni.Allâhouma çalli wa sallim halâ haïnil hakhi lati tatadialâ mine hâhouroûchoul hakhâ-ikhi haïnil maharifil akhwami sirâtika tâm mineaskham.Allâhouma çalli wa sallim halâ talhatil hakh bil hakh al kanzil ahzaneifâdatika mineka ilaïka ihâtati nouril moutalsame. Çalla lâhou halaïhi wahalâ âlihi salâtane touharifoûna bihâ iyâhou.
        <br><br>
        Traduction : Ô mon Dieu, répands tes grâces et accorde le salut à la source de la Miséricorde Divine et au diamant étincelant versé indéfiniment dans la vérité. Celui qui est au centre de toutes formes de compréhensions et de significations. Il est la lumière des êtres en cours de formation humaine, il possède la Vérité Divine tel l'éclair immense traversant les nuages précurseurs de la pluie bienfaisante des Miséricordes Divines, qui emplissent sur leur chemin aussi bien les grandes étendues d'eau que les petites. Il est Ta lumière brillante qui s'étend sur toute l'existence et l'englobe dans tous ses lieux.
        <br>
        Ô mon Dieu, répands tes grâces et accorde le salut à la source de la Vérité qui est à l'origine des connaissances les plus justes, tel ton sentier parfaitement droit par lequel se manifestent les majestueuses Réalités.
        <br>
        Ô mon Dieu, répands tes grâces et accorde ton salut à la manifestation de la Vérité par la Vérité, au trésor le plus sublime, au flux venant de toi et retournant vers toi, et à la quintessence des lumières dissimulées à toute connaissance. Que Dieu répande ses grâces sur lui et sur sa famille, grâces par lesquelles, Ô mon Dieu, Tu nous le feras connaître.
      </span>
    </p>
    <br><br>
    <h2 class="center-text">Clôturer</h2>
    <p>
      <span class="arabic-text">
        إِنَّ اللَّهَ وَمَلائِكَتَهُ يُصَلُّونَ عَلَى النَّبِيِّ يَا أَيُّهَا الَّذِينَ آمَنُوا صَلُّوا عَلَيْهِ وَسَلِّمُوا تَسْلِيمًا صَلّى اللّهُ تَعَالَى عَلَيْهِ وَ عَلَى آلِهِ وَ صَحْبِهِ وَ سَلَّمَ تَسْلِيمًا سُبْحَانَ رَبِّكَ رَبِّ الْعِزَّةِ عَمَّا يَصِفُونَ وَ سَلامٌ عَلَى الْمُرْسَلِينَ وَالْحَمْدُ لِللهِ رَبِّ الْعَلَمِينَ
      </span>
      <br>
      <span class="french-text">Certes Dieu et ses Anges bénissent le Prophète et Lui accordent le Salut ; O vous qui croyez, priez sur lui et adressez lui vos salutations. Que Dieu le Très Haut le bénisse et bénisse sa famille, ses compagnons et les salue, Louange à Dieu, le Puissant, accorde Ton Salut aux Envoyés, Gloire à Dieu ! Seigneur des mondes.</span>
    </p>

  </div>
</ion-content>

<ion-footer class="foot">
  <p class="monfooter">Powerted by Alpha M Diop ibn Sope Naby</p>
</ion-footer>